@{
    Layout = "_LayoutProduct";
}

<div class="w-75 m-5">
    <div class="row">
        <div class="h1">Update Brand</div>
    </div>

    <div class="row">
        <div class="form-group w-100">
            <div class="col-md-12">
                <div class="text-center">
                    <div class="">
                        <div class="btn-group btn-group-lg bg-dark-3EB" data-toggle="buttons">
                            <label class="btn btn-secondary active ">
                                <input type="checkbox" data-toggle="collapse" data-target="#descInput" name="optInputs" id="rb1"> Description
                            </label>
                            <label class="btn btn-secondary">
                                <input type="checkbox" data-toggle="collapse" data-target="#ingInput" name="optInputs" id="rb2"> Ingredients
                            </label>
                            <label class="btn btn-secondary">
                                <input type="checkbox" data-toggle="collapse" data-target="#pubInput" name="optInputs" id="rb3"> Published
                            </label>
                            <label class="btn btn-secondary">
                                <input type="checkbox" data-toggle="collapse" data-target="#qtyInput" name="optInputs" id="rb3"> Quantity
                            </label>
                            <label class="btn btn-secondary">
                                <input type="checkbox" data-toggle="collapse" data-target="#GAInput" name="optInputs" id="rb3"> Guaranteed Analysis
                            </label>
                            <label class="btn btn-secondary">
                                <input type="checkbox" data-toggle="collapse" data-target="#priceInput" name="optInputs" id="rb3"> Price
                            </label>
                            <label class="btn btn-secondary">
                                <input type="checkbox" data-toggle="collapse" data-target="#discountInput" name="optInputs" id="rb3"> Discount
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <form id="productForm" class="w-100 m-5">
            <div class="card card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group w-75">
                            <label for="brandId">Brand</label>
                            <select class="form-control" id="brandId"></select>
                        </div>
                    </div>
                    <div class="col" id="nameInput">
                        <div class="form-group w-75 ">
                            <label for="productName">Product Name</label>
                            <input type="text" id="productName" class="form-control" name="productName" required/>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group w-75 ">
                            <label for="productCode">Product Code</label>
                            <input type="text" id="productCode" class="form-control" name="productCode" required/>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col collapse" id="priceInput">
                        <div class="form-group w-75 ">
                            <label for="productWA">Weight Amount</label>
                            <input type="text" id="productWA" class="form-control" name="productWA" />
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="col collapse" id="priceInput">
                        <div class="form-group w-75">
                            <label for="productWU">Weight Unit</label>
                            <select class="form-control" id="productWU">
                                <option value=kg>kg</option>
                                <option value=g>g</option>
                                <option value=lbs>lbs</option>
                                <option value=L>L</option>
                                <option value=ml>ml</option>
                            </select>
                        </div>
                    </div>
                    <div class="col collapse" id="priceInput">
                        <div class="form-group w-75 ">
                            <label for="productPrice">Price</label>
                            <input type="text" id="productPrice" class="form-control " name="productPrice" />
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="col collapse" id="priceInput">
                            <button type="button" class="btn btn-info btn-group-lg productPrice" onclick="">Add</button>
                        </div>
                </div>

                <div class="row">
                    <div class="col collapse" id="pubInput">
                        <div class="form-group w-75">
                            <label for="published">Published</label>
                            <select class="form-control" id="published">
                                <option value=1>Yes</option>
                                <option value=2>No</option>
                            </select>
                        </div>
                    </div>

                    <div class="col collapse" id="qtyInput">
                        <div class="form-group w-100">
                            <label for="productMinQty">Minimum Quantity</label>
                            <input type="text" class="form-control" id="productMinQty" name="productMinQty">
                            <div class="invalid-feedback"> </div>
                        </div>
                    </div>

                    <div class="col collapse" id="qtyInput">
                        <div class="form-group w-100">
                            <label for="productQty">Quantity</label>
                            <input type="text" class="form-control" id="productQty" name="productQty">
                            <div class="invalid-feedback"> </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                       aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Choose picture</label>
                            </div>
                            <div class="invalid-feedback"> </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col collapse" id="discountInput">
                        <div class="form-group w-75 ">
                            <label for="discountName">Discount Name</label>
                            <input type="text" id="discountName" class="form-control" name="discountName" />
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="col collapse" id="discountInput">
                        <div class="form-group w-75 ">
                            <label for="discountRate">Discount Rate</label>
                            <input type="text" id="discountRate" class="form-control" name="discountRate" />
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col collapse" id="descInput">
                        <div class="form-group w-100">
                            <label for="productDesc">Description</label>
                            <textarea class="form-control" id="productDesc" name="productDesc" rows="3"></textarea>
                            <div class="invalid-feedback"> </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col collapse" id="ingInput">
                        <div class="form-group w-100">
                            <label for="productIng">Ingredients</label>
                            <textarea class="form-control" id="productIng" name="productIng" rows="3"></textarea>
                            <div class="invalid-feedback"> </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col collapse" id="GAInput">
                        <div class="form-group w-100">
                            <label for="productGA">Guaranteed Analysis</label>
                            <textarea class="form-control" id="productGA" name="productGA" rows="3"></textarea>
                            <div class="invalid-feedback"> </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-footer text-center bg-dark">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-danger w-50" data-toggle="collapse" data-target="#addModuleCollapse" type="button" id="deleteButton">
                            Delete
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-primary w-50" data-toggle="collapse" data-target="#addModuleCollapse" type="button">
                            Cancel
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary w-50" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    //Setting default validate message
    jQuery.validator.setDefaults({
        errorElement: 'div',
        errorClass: 'is-invalid'
    });

    //// AJAX GET to output into brand Dropdown
    $.ajax({
        url: '/API/Brand/GetAllBrand',
        method: 'GET'

    }).done(function (data) {
        let $tableBodyElement = $('#brandId');

        for (let index = 0; index < data.length; index++) {
            let $rowElement = null;

            //Update
            var brandName = data[index].brandName;
            var brandId = data[index].brandId;
            console.log(brandName + " " + brandId);
            $rowElement = $('<option value=' + brandId + '>' + brandName + '</option>');
            $tableBodyElement.append($rowElement);
        }
    }).fail(function (data) {
        console.dir("HELLO" + data);
        new Noty({
            text: data.responseJSON.message, type: 'error',
            layout: 'center',
            timeout: 2500
        }).show();
    })

    //Validate Form
    //Validation
    $('#productForm').validate({
        rules: {
            productName: {
                required: true
            },
            productCode: {
                required: true
            }
        },
        messages: {
            productName: {
                required: "Please enter a name"
            },
            productCode: {
                required: "Please enter a code"
            }
        },
        errorPlacement: function (error, element) {
            if (element.is(':radio')) {
                error.appendTo(element.parent().parent().next('div'))
            } else {
                error.appendTo(element.next('div'));
            }
        },
        submitHandler: function () {
            console.log("You've clicked submit !");

            //Required Fields
            let collectedBrand = $('#brandId').val();
            let collectedProdName = $('#productName').val();
            let collectedProdCode = $('#productCode').val();

            //Optional Fields
            let collectedProductDesc = $('#productDesc').val();
            let collectedProdIng = $('#productIng').val();
            let collectedPublished = $('#published').val();
            let collectedProductMinQty = $('#productMinQty').val();
            let collectedProductQty = $('#productQty').val();
            let collectedProductGA = $('#productGA').val();

            //Array of Price Arrays
            let collectedProductWA = $('#productWA').val();
            let collectedProductWU = $('#productWU').val();
            let collectedProductPrice = $('#productPrice').val();
            var collectedPrice = [collectedProductWA, collectedProductWU, collectedProductPrice];
            var collectedPriceArray = [collectedPrice];

            //Array of Discount Arrays
            let collectedDiscountName = $('#discountName').val();
            let collectedDiscountRate = $('#discountRate').val();
            var collectedDiscount = [collectedDiscountName, collectedDiscountRate];
            var collectedDiscountArray = [collectedDiscount];
            
            var formData = new FormData();
            formData.append('fileInput', $('#inputGroupFile01')[0].files[0]);
            formData.append('brandId', collectedBrand);
            formData.append('prodName', collectedProdName);
            formData.append('prodCode', collectedProdCode);
            formData.append('prodDesc', collectedProductDesc);
            formData.append('prodIng', collectedProdIng);
            formData.append('published', collectedPublished);
            formData.append('minQty', collectedProductMinQty);
            formData.append('prodQty', collectedProductQty);
            formData.append('GA', collectedProductGA);
            formData.append('price', collectedPriceArray);
            formData.append('discount', collectedDiscountArray);

            console.log("Collected Data: " + collectedBrand + " " + collectedProdName + " " + collectedProdCode + " " + collectedProductDesc
                + " " + collectedProdIng + " " + collectedPublished + " " + collectedProductMinQty + " " + collectedProductQty + " " + collectedPriceArray
                + " " + collectedDiscountArray);

            const ID = getIdFromAddressBar();

            function getIdFromAddressBar() {
                let urlArray = window.location.href.split('/');
                let id = urlArray[urlArray.length - 1];
                return id;
           };//End of getIdFromAddressBar function

            $.ajax({
                method: 'PUT',
                url: '/API/Product/UpdateProd',
                data: formData,
                contentType: false,
                processData: false,
                traditional: true,
            }).done(function (data) {
                new Noty({
                    text: data.message, layout: 'center',
                    type: 'success',
                    callbacks: {
                        onClose: function () { window.location.href = "/Product/ProductList" }
                    }
                }).show();
            }).fail(function (data) {
                console.log(data);
                new Noty({
                    text: data.responseJSON.message,
                    type: 'error',
                    layout: 'center'
                }).show();
            });//end of $ajax().done().fail();
        }
    });


            $('#deleteButton').on('click', function () {
                $.ajax({
                    method: 'DELETE',
                    url: '/API/Product/DeleteProduct/' + ID,

                }).done(function (data) {
                    var noty = new Noty({
                        modal: 'true',
                        layout: 'center',
                        text: 'Deleted record',
                        buttons: [
                            Noty.button('BACK', 'btn btn-success', function () {
                                location.replace('/Product/ProductList');
                            }, { id: 'button1', 'data-status': 'ok' })
                        ]
                    });
                    noty.show();

                }).fail(function (data) {
                    console.log(data);
                    new Noty({
                        text: data.responseJSON.message,
                        type: 'error',

                    }).show();
                });//End of AJAX
            });//End of $('#deleteButton').on('click', function())
</script>
