@{
    Layout = "_LayoutAdmin";


}

<div class="HeaderMS">
    <h1 id="TitleAC">Update Category</h1>
</div>
<div class="containerAS">
    <form id="formAC">
        <div class="row">
            <div class="col-25">
                <label for="catName">Name</label>
            </div>
            <div class="col-100">
                <input type="text" id="catName" name="catname" placeholder="Category name..">
            </div>
        </div>

        <div class="row" id="visbilityAC">
            <div class="col-25">
                <input class="radioInputAC" type="radio" id="visID" name="vis" value="1">
            </div>
            <label for="visID">Visible (Ignore start and end date)</label><br>

            <div class="col-25">
                <input class="radioInputAC" type="radio" id="visID2" name="vis" value="2">
            </div>
            <label for="visID2">Visible (With start and end date)</label><br>

            <div class="col-25">
                <input class="radioInputAC" type="radio" id="visID3" name="vis" value="3">
            </div>
            <label for="visID3">Hidden</label><br><br>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="SDAC">Start Date</label>
            </div>
            <div class="col-75">
                <input type="date" id="SDAC" class="dateAC" name="startDateAC">
            </div>
            <div class="col-25">
                <label for="EDAC">End Date</label>
            </div>
            <div class="col-75">
                <input type="date" id="EDAC" class="dateAC" name="endDateAC">
            </div>
        </div>
        <input type="button" class="btn btn-primary" value="Soft Delete" id="SD" />
        <input type="button" class="btn btn-primary" value="Hard Delete" id="HD" />
        <input type="button" class="btn btn-primary" value="Save" id="saveButton" />
    </form>
</div>

<script>
    console.log("You're in scripts!")

    const ID = getIdFromAddressBar();

    console.log("Here's your ID ! " + ID)

    loadCategoryData();

    function getIdFromAddressBar() {
        let urlArray = window.location.href.split('/');
        let id = urlArray[urlArray.length - 1];
        return id;
    }

    function loadCategoryData() {
        console.log("You're in LoadCategory Data!");

        $.ajax({
            method: 'GET',
            url: '/API/Category/GetOneCat/' + ID,
        }).done(function (data) {
            console.log(data)

            let category = data;
            let catName = category.catName;
            let startDate = category.startDate;
            let endDate = category.endDate;
            let visId = category.visibility;

            console.log("Here's your name! " + catName);
            console.log("Here's your name! " + startDate);

            $('#catName').val(catName);

            //Getting Date from datetime variables
            var sd = startDate;
            sd = sd.split('T')[0];
            var ed = endDate;
            ed = ed.split('T')[0];

            $('#SDAC').val(sd);
            $('#EDAC').val(ed);
            $("input:radio[name='vis'][value=" + visId + "]").attr('checked', true);
        }).fail(function (data) {
            console.log("You failed your ajax :D")
            new noty({
                text: data.responsejson.message,
                type: 'error', layout: 'center',
            }).show();
        });//end of $ajax().done().fail();
    }


    function WebFormData(inCatName, inStartDate, inEndDate, inVisId) {
        this.catName = inCatName;
        this.startDate = inStartDate;
        this.endDate = inEndDate;
        this.visId = inVisId;
    }

    $('#saveButton').on('click', function () {
        let collectedCatName = $('#catName').val();
        let collectedStartDate = $('#SDAC').val();
        let collectedEndDate = $('#EDAC').val();
        let collectedVisId = $("input[name='vis']:checked").val();

        let webFormData = new WebFormData(collectedCatName, collectedStartDate, collectedEndDate, collectedVisId);

        $.ajax({
            method: 'PUT',
            url: '/API/Category/UpdateCat/' + ID,
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded;',
            data: webFormData
        }).done(function (data) {
            new Noty({
                text: data.message,
                type: 'success',
                layout: 'center'
            }).show();
        }).fail(function (data) {
            new Noty({
                text: data.responseJSON.message,
                type: 'error',
                layout: 'center'
            }).show();
        });
    });

    //Soft Delete Category Record
    $('#SD').on('click', function () {
        $.ajax({
            method: 'PUT',
            url: '/API/Category/SoftDelete/' + ID,
        }).done(function (data) {
            new Noty({
                text: data.message,
                type: 'success',
                layout: 'center'
            }).show();
        }).fail(function (data) {
            new Noty({
                text: data.responseJSON.message,
                type: 'error',
                layout: 'center'
            }).show();
        });
    });


    //Hard Delete Category Record
    $('#HD').on('click', function () {
        $.ajax({
            method: 'DELETE',
            url: '/API/Category/HardDelete/' + ID,
        }).done(function (data) {
            new Noty({
                text: data.message,
                type: 'success',
                layout: 'center'
            }).show();
        }).fail(function (data) {
            new Noty({
                text: data.responseJSON.message,
                type: 'error',
                layout: 'center'
            }).show();
        });
    });
</script>