@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAdmin";
}

<div class="container">
    <div class="APCat">
        <figure data-title="Category Management">
            <figcaption>
                <div class="list-group margin-20 mx-auto">
                    <div class="list-group margin-20 mx-auto" style="width:100%;">
                        <a href="/Category/CatList" class="list-group-item list-group-item-action">Category List</a>
                        <a href="/Category/AddCat" class="list-group-item list-group-item-action">Add Category</a>
                    </div>
            </figcaption>
        </figure>
    </div>

    <div class="APBrand">
        <figure data-title="Brand Management">
            <figcaption>
                <div class="list-group margin-20 mx-auto">
                    <div class="list-group margin-20 mx-auto" style="width:100%;">
                        <a href="/Brand/BrandList" class="list-group-item list-group-item-action">Brand List</a>
                        <a href="/Brand/AddBrand" class="list-group-item list-group-item-action">Add Brand</a>
                    </div>
            </figcaption>
        </figure>
    </div>

    <div class="APProd">
        <figure data-title="Product Management">
            <figcaption>
                <div class="list-group margin-20 mx-auto" style="width:100%;">
                    <a href="/Product/ProductList" class="list-group-item list-group-item-action">Product List</a>
                    <a href="/Product/AddProduct" class="list-group-item list-group-item-action" id="ADAP">Add Product</a>
                </div>
            </figcaption>
        </figure>
    </div>
</div>


